<html lang="en" xmlns:th="http:www.thymeLeaf.org">
    <head>
      <title>About us page</title>
      <link rel="stylesheet" type="text/css" href=""  th:href="@{/adesign.css}">
    </head>
    <body>
       <div class="heading">
        <h1>About Us</h1>
        <p>
            some content about website
        </p>
       </div>


       <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="productivity.png" alt="image" width="500">
            </div>
            <div class="about-content">
                <h2>Hello Blockers!</h2>
                <p>Sure, I'd be happy to help you review and improve your "About Us" page for your website blocker application.
                     Please provide me with the content you have created, and I'll offer suggestions and feedback to make it more effective and engaging. 
                     If you haven't written it yet, you can provide an outline or the key points you want to include, and I can assist you in structuring the content.</p>
                <a href="" class="readmore">Read More</a>
            </div>
        </section>
       </div>

       



    </body>
</html>