<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <fieldset>
    <center>
  <label style="color: blue;"> Registration Successful</label><br><br>
  Name:<span th:text="${frm.name}"></span><br>
  Email:<span th:text="${frm.email}"></span><br>
  DOB:<span th:text="${frm.dob}"></span><br>
  Gender:<span th:text="${frm.gender}"></span><br>

  <a href="/index">Go to Home</a>
</center>
</fieldset>
</body>
</html>