<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeLeaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration form</title>
</head>
<body>
  <div>
   <fieldset>
    <center>
      <p style="color:blue">Create New Account</p>
      <br>
  <form th:action="@{/RegisterSucc}" method="post" th:object="${frm}">
    Name: <input type="text" th:field="*{name}"/><br><br>
    Email: <input type="email" th:field="*{email}"/><br><br>
    Password: <input type="password"/><br> <br>
    DOB: <input type="date" th:field="*{dob}"/><br><br>
    Gender: <input type="radio" th:field="*{gender}" value="Male"/>Male
    <input type="radio" th:field="*{gender}" value="Female"/>Female<br>
    <br>
    <button type="submit">Register</button>
  </form>
    </center>
</fieldset> 
  </div>
</body>
</html>