<html lang="en" xmlns:th="http:www.thymeLeaf.org">
    <head>
        <title>Url history</title>
    </head>
    <body>
        <form type="post">
           Enter the Url: <input type="textbox"><br><br>
           <label for="timeInput">Choose a time:</label>
           <input type="time" id="timeInput" name="time"><br><br>
           purpose of blocking:
           <input type="checkbox">Addictive
           <input type="checkbox">To avoid at this situation
           <br><br>
           Any Other Reason: <input type="textbox"><br><br>

           <button type="submit">Submit</button>


        </form>
    </body>
</html>